**/*.o
**/*.ko
**/*.so
*.img
**/*.img
**/*.elf
**/*.a
**/*.EFI
*.bin
build/*
**/build/*
**/asm_test/*
**/*.test.asm
syms/*
img/usr/*
img/lib/*
common/include/asm-generated/*
**/GPATH
**/GRTAGS
**/GTAGS